<!DOCTYPE html>
<html xmlns:th = "https://www..thymeleaf.org" > 
<head>
    <meta charset="UTF-8">
    <title>School System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
<body>
    <!-- head page -->
    <div class="head">
        <img src="http://127.0.0.1:8080/images/logo.png" alt="">
        <!-- <i class='bx bxs-school' style="font-size: 300px; color: #8348E6;"></i> -->
        <h1 id="page_title">School System</h1>
        <p>This is our application for our department</p>
    </div>

    <!-- option for user  -->
    <div class="option">
        <nav id="header-item">
            <a th:href="@{http://localhost:8080/login}" id="login" style="color:  aliceblue;">Principal</a>
            <a th:href="@{http://localhost:8080/login}" id="login" style="color: aliceblue;">Teacher</a>
            <a th:href="@{http://localhost:8080/login}" id="login" style="color: aliceblue;">Student</a>
        </nav>
    </div>
    
</body>
</html>
